extends layout


block CONTENT
    div(id="gauge_cpu",style="height:200px;width:250px;float:right")
    div(id="gauge_ram",style="height:200px;width:250px;float:right")
    div(style="float:left")
        img(style="width:200px;hight:200px", src='/images/bee.jpg')
    div.clearfix
    div
        h2.sub-header List of all bees
          div.table-responsive
            table.table.table-striped
              thead
                tr
                  th #
                  th ID
                  th Hostname
                  th OS
                  th Ports
                  th
                  th
                  th
              tbody
              each hs in data
                - var st;
                - if(hs.status == 'ON'){
                - st ="success";
                -}else {
                - st ="";
                -}
                tr(id="tr-#{hs.id}",class="#{st}")
                  td #
                  td= hs.id
                  td= hs.hostname
                  td= hs.os
                  td
                    a(onclick="$('#port-'+port_id).css('display','none');$('#port-#{hs.id}').css('display','block');port_id='#{hs.id}';") Show  
                  td
                    a(href=":#{hs.port_web}",target="_blank") Console
                    a(href="/cloud/#{hs.port_web}")
                        span.glyphicon.glyphicon-cloud(style="margin-left:5px")
                  td
                    span(id="status_#{hs.id}")= hs.status
                  td  
                    a(onclick="bee_start('#{hs.id}')")
                        span.glyphicon.glyphicon-play(style="margin-left:5px")
                    a(onclick="bee_stop('#{hs.id}')")
                        span.glyphicon.glyphicon-stop(style="margin-left:5px")
                    a(onclick="bee_delete('#{hs.id}')")
                        span.glyphicon.glyphicon-trash(style="margin-left:5px")


    div.col-md-2
       each hs in data
        div.port-class(id="port-#{hs.id}",style="display:none")
          table(id="table-#{hs.id}").table.table-striped
            thead
              tr
                th Host Port
                th
                th Bee Port
            tbody 
             each p in JSON.parse(hs.port)
              tr
                th
                  span.label.label-info= p.p_host   
                th >>
                th
                  span.label.label-success= p.c_port  
             each p in JSON.parse(hs.hot_port)
              tr
                th
                  span.label.label-danger= p.h_port   
                th >>
                th
                  span.label.label-success= p.b_port 
             tr
                th
                  a(onclick="add_hot_port('#{hs.id}')") Add Port !
                th
                th
                  input(id="hotport_#{hs.id}",type="text",style="width:50px")
    script.
        var port_id ='';
        var socket = io.connect();
        var g_cpu = new JustGage({levelColors: ['#008000','#ff0000'] ,id: "gauge_cpu", value: 67, min: 0, max: 4, title: "CPU Load" }); 
        var g_ram = new JustGage({id: "gauge_ram", value: 4, min: 0, max: 4, title: "RAM" });
        g_cpu.refresh(10);
        socket.on('load_cpu',function(data){g_cpu.refresh(data.toFixed(2))});
        socket.on('load_ram',function(data){g_ram.refresh((data/(1024*1024)).toFixed(2))});
        function bee_start(id){
             $('#status_'+id).text('loading...');
            $.post('/bee_start',{'id' : id},function(data){
               $('#status_'+id).text(data); 
            }); 
        }
        function bee_stop(id){
         $('#status_'+id).text('loading...');
            $.post('/bee_stop',{'id' : id},function(data){
               $('#status_'+id).text(data); 
            }); 
        }
        function add_hot_port(id)
        {
            port = $("#hotport_"+id).val();
            $.post('/hot_port',{'id':id,'port':port},function(data){
                alert(data);
                $("#table-"+id+" tr:last").before('<tr><th><span class="label label-danger">'+data+'</span></th><th></th><th><span class="label label-success">'+port+'</span></th></tr>');
                
            });
        }
             document.addEventListener('click', function(event) {
               var target = event.target;
           if (target.tagName.toLowerCase() == 'a')
           { var port = target.getAttribute('href').match(/^:(\d+)(.*)/);
             if (port)
            { target.href = port[2];
              target.port = port[1];}	}}, false);

